<ul class="nav container">
  <li class="item title"><a class="link">Mike Natchapon</a></li>
  <li class="item"><a class="link" (click)="home()">หน้าแรก</a></li>
  <li class="item"><a class="link" href="home#about">เกี่ยวกับ</a></li>
  <li class="item"><a class="link" routerLink="/">ผลงาน</a></li>
  <!-- <li class="item"><a class="link" href="#">About</a></li> -->
</ul>

<div class="top" style="display: none;">
  <button mat-fab (click)="toTop()" color="accent">
    <mat-icon>expand_less</mat-icon>
  </button>
</div>
