<!-- Laptop -->
<ul class="nav containerNav">
  <li class="item title"><a class="link" (click)="home()" [ngStyle.xs]="{'font-size': '14pt'}">Mike Natchapon</a></li>
  <li class="item"><a class="link" (click)="home()" fxShow="true" fxHide.lt-md="true">
      <mat-icon>home</mat-icon>&nbsp;&nbsp;หน้าแรก
    </a></li>
  <li class="item"><a class="link" href="home#about" fxShow="true" fxHide.lt-md="true">
      <mat-icon>info</mat-icon>&nbsp;&nbsp;เกี่ยวกับ
    </a></li>
  <li class="item"><a class="link" href="home#award" fxShow="true" fxHide.lt-md="true">
      <mat-icon>code</mat-icon>&nbsp;&nbsp;ผลงาน
    </a></li>
  <!-- <li class="item"><a class="link" routerLink="/"><mat-icon>login</mat-icon>&nbsp;&nbsp;เข้าสู่ระบบ</a></li> -->
  <!-- <li class="item"><a class="link" href="#">About</a></li> -->
</ul>

<div class="top" style="display: none;">
  <button mat-fab (click)="toTop()" color="accent">
    <mat-icon>expand_less</mat-icon>
  </button>
</div>
