<!-- Laptop -->
<ul class="nav1 containerNav" fxShow fxHide.xs>
  <li class="item title"><a class="link" (click)="home()" [ngStyle.xs]="{'font-size': '14pt'}">Mike Natchapon</a></li>
  <li class="item"><a class="link" (click)="home()">
      <span class="material-icons"> home </span>&nbsp;&nbsp;หน้าแรก
    </a></li>
  <li class="item"><a class="link" href="home#about" fxShow="true" fxHide.lt-md="true">
    <span class="material-icons"> info </span>&nbsp;&nbsp;เกี่ยวกับ
    </a></li>
  <li class="item"><a class="link" href="home#award" fxShow="true" fxHide.lt-md="true">
    <span class="material-icons"> code </span>&nbsp;&nbsp;ผลงาน
    </a></li>
  <li *ngIf="islogin && isAdmin" class="item"><a class="link" fxShow="true" routerLink="/admin">
    <i class="fa fa-tools"></i>&nbsp;&nbsp;หน้าแอดมิน
    </a>
  </li>
  <li *ngIf="islogin" class="item"><a class="link" fxShow="true" (click)="logout()">
      <span class="material-icons"> logout </span>&nbsp;&nbsp;ออกจากระบบ
    </a></li>
</ul>

<ul class="nav2 containerNav" fxShow.xs fxHide>
  <li class="item title"><a class="link" (click)="home()" [ngStyle.xs]="{'font-size': '14pt'}">Mike Natchapon</a></li>
  <li class="item"><a class="link" (click)="home()">
      <span class="material-icons"> home </span>&nbsp;&nbsp;หน้าแรก
    </a></li>
  <li *ngIf="islogin" class="item"><a class="link" (click)="logout()">
      <span class="material-icons"> logout </span>&nbsp;&nbsp;ออกจากระบบ
    </a></li>
</ul>
