* {
  overflow: visible;
}
/* Now the super main part */
/* this gets the whole scrollbar including the scrollbar area */
::-webkit-scrollbar {
  background: #ddd;
  width: 5px;
}

/* webkit scrollbar thumb is the part of the scrollbar which we hold to scroll  */
::-webkit-scrollbar-thumb {
  background: #afafaf;
  /* we got the background now lets make it round */
  border-radius: 10px;
}

.warp {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.warp > div {
  display: flex;
}

.warp > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
}

.allAwards {
  margin-top: 20px;
  height: 100%;
}

table {
  width: 100%;
}
