.pageContent img {
  // max-width: 500px !important;
  width: 100% !important;
  height: auto !important;
}

.pageContent a {
  color: rgb(0, 129, 86);
}

.pageContent {
  width: 100%;
}

img {
  // max-width: 500px !important;
  width: 100% !important;
  height: auto !important;
}
