<div fxLayout="row warp" fxLayoutAlign="center center" fxLayoutGap="0px" style="background-color: #000;">
  <div fxFlex="100%">
    <div class="contentCenter" style="margin-top: 40px !important;" #sticky>
      <canvas #canvas id="canvas" style="height: 400px;width: 400px;"></canvas>
    </div>
  </div>
  <div fxFlex="100%" fxFlex.xs="100%" style="height: 65vh;width: 100%;color: #FFF;margin-top: -20;" class="fullwidth"
    [ngStyle.xs]="{'height': '50vh'}">
    <div class="titleCenter">
      <ngx-typed-js [strings]="textlist" [shuffle]="false" [typeSpeed]="100" [backSpeed]="100">
        Hi, I'm <span class="typing" style="color: #f1ce02;"></span>
      </ngx-typed-js>
    </div>
    <div class="contentCenter" (click)="scrollDown()" style="cursor: pointer;" [ngStyle.gt-lg]="{'margin-top': '80px'}">
      <img appShowLoading class="swipeup" src="/assets/swipeup.gif" alt="" srcset="">
    </div>
  </div>
  <div id="about" fxFlex="100%" fxFlex.xs="100%" style="height: 100vh;width: 100%;background-color: #ddd;"
    [ngStyle.xs]="{'height': '100%'}" [ngStyle.md]="{'height': '100%'}" class="fullwidth floatCenter" #scroll>
    <div class="fullwidth" style="margin-top: 90px;">
      <mat-card class="container mat-elevation-z7" style="border-radius: 10px !important;">
        <mat-card-title>
          <h1 class="titler contentCenter" style="font-size: 36pt;margin-bottom: 0px !important;">About</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <h2 class="text contentCenter" style="margin-top: 0px !important;">เกี่ยวกับ</h2>
        </mat-card-subtitle>
        <mat-card-content>
          <div fxLayout="row warp" fxLayoutAlign="center" fxLayoutGap="0px" style="padding-bottom: 20px;">
            <div fxFlex="50%" fxFlex.xs="100%" class="contentCenter">
              <img appShowLoading width="80%" src="assets/mike.png" style="border-radius: 10px;" alt="">
            </div>
            <div fxFlex="50%" fxFlex.xs="100%">
              <p class="text" style="font-size: 16pt;" [ngStyle.xs]="{'font-size': '12pt'}">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผมนายณัชพล สหัสสเนตร (ไมค์) ปัจจุบันศึกษาอยู่ที่ <a
                  class="linknew" href="https://taweethapisek.ac.th" target="_blank"><b
                    class="linknew">โรงเรียนทวีธาภิเศก&nbsp;<mat-icon>open_in_new</mat-icon></b></a>
                ชั้นมัธยมศึกษาปีที่ 6 สายการเรียน <b>วิทยาศาสตร์ คณิตศาสตร์ คอมพิวเตอร์</b>
              </p>
              <p class="text" style="font-size: 16pt;" [ngStyle.xs]="{'font-size': '12pt'}">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ตอนนี้ผมสามารถเขียน Web App ด้วย HTML CSS Javascript PHP
                ได้
                หรือสามารถใช้ Framework เช่น Angular, Bootstrap เป็นต้น ส่วน Back-End สามารถเขียนด้วย NodeJs, PHP และ
                Database ใช้ MySQL, MongoDB ภาษาอื่นที่เขียนได้ Python และจะพยายามเรียนรู้ต่อไป เพราะ
                <b>"การเรียนรู้ไม่มีที่สิ้นสุด"</b>
              </p>
              <p class="text" style="font-size: 16pt;" [ngStyle.xs]="{'font-size': '12pt'}">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เว็บไซต์นี้พัฒนาด้วย Angular 13, Angular Material,
                NodeJS
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div id="skill" fxFlex="100%" fxFlex.xs="100%" style="height: 100vh;width: 100%;background-color: #ddd;"
    [ngStyle.xs]="{'height': '100%'}" [ngStyle.md]="{'height': '100%'}" class="fullwidth floatCenter" #scroll>
    <div class="fullwidth" style="margin-top: 90px;">
      <mat-card class="container mat-elevation-z7" style="border-radius: 10px !important;">
        <mat-card-title>
          <h1 class="titler contentCenter" style="font-size: 36pt;margin-bottom: 0px !important;">Skills</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <h2 class="text contentCenter" style="margin-top: 0px !important;">ความสามารถ</h2>
        </mat-card-subtitle>
        <mat-card-content>
          <div fxLayout="row warp" fxLayoutAlign="center" fxLayoutGap="0px" style="padding-bottom: 20px;">
            <div fxFlex="32%" fxFlex.xs="100%">
              <mat-card class="mat-elevation-z0">
                <mat-card-title>
                  <h1 class="titler contentCenter" style="font-size: 28pt;margin: 0px !important;">Front-end</h1>
                </mat-card-title>
                <mat-card-content style="padding-top: 20px;">
                  <div style="display: flex;flex-wrap: wrap;gap: 10px;justify-content: center;">
                    <img appShowLoading src="assets/code/{{n}}.png" style="max-height: 100px;" alt=""
                      *ngFor="let n of frontEnd">
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="2%" fxFlex.xs="100%" class="intersect-line">
              <div style="width: 2px;height: 80%;background: #000;border-radius: 5px;"
                [ngStyle.xs]="{'width': '90%' ,'height': '2px'}"></div>
            </div>
            <div fxFlex="32%" fxFlex.xs="100%">
              <mat-card class="mat-elevation-z0">
                <mat-card-title>
                  <h1 class="titler contentCenter" style="font-size: 28pt;margin: 0px !important;">Back-end</h1>
                </mat-card-title>
                <mat-card-content style="padding-top: 20px;">
                  <div style="display: flex;flex-wrap: wrap;gap: 10px; justify-content: center;">
                    <img appShowLoading src="assets/code/{{n}}.png" style="max-height: 100px;" alt=""
                      *ngFor="let n of backEnd">
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="2%" fxFlex.xs="100%" class="intersect-line">
              <div style="width: 2px;height: 80%;background: #000;border-radius: 5px;"
                [ngStyle.xs]="{'width': '90%' ,'height': '2px'}"></div>
            </div>
            <div fxFlex="32%" fxFlex.xs="100%">
              <mat-card class="mat-elevation-z0">
                <mat-card-title>
                  <h1 class="titler contentCenter" style="font-size: 28pt;margin: 0px !important;">Database</h1>
                </mat-card-title>
                <mat-card-content style="padding-top: 20px;">
                  <div style="display: flex;flex-wrap: wrap;gap: 0.2rem;justify-content: center;">
                    <img appShowLoading src="assets/code/{{n}}.png" style="max-width: 200px;" alt=""
                      *ngFor="let n of db">
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="awards.length > 0" id="award" fxFlex="100%" fxFlex.xs="100%"
    style="height: 100%;width: 100%;background-color: #ddd;padding-bottom: 30px;" [ngStyle.xs]="{'height': '100%'}"class="fullwidth floatCenter">
    <div class="fullwidth" style="margin-top: 90px;">
      <mat-card class="container mat-elevation-z7"
        style="border-radius: 10px !important;padding-bottom: 60px !important;">
        <mat-card-title>
          <h1 class="titler contentCenter" style="font-size: 36pt;margin-bottom: 0px !important;">Awards</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <h2 class="text contentCenter" style="margin-top: 0px !important;">ผลงานต่าง ๆ</h2>
        </mat-card-subtitle>
        <mat-card-content class="contentCenter fullwidth">
          <div #award fxLayout="row warp" class="container">
            <!-- Awards -->
            <div *ngFor="let award of awards" fxFlex="24%" fxFlex.md="48%" fxFlex.xs="98%" class="contentCenter"
              style="margin-right: 10px !important;" [ngStyle.xs]="{'margin-right': '0px'}">
              <mat-card class="fullwidth mat-elevation-z7" style="width: 100%;height: 100%;" fxFlex="100%">
                <img class="fullwidth" mat-card-image
                  [src]="award.image_url != null && award.image_url != '' ? award.image_url : 'assets/darkmike.png'"
                  alt="Photo of a Shiba Inu" style="max-height: 300px;">
                <mat-card-content style="height: 100px;">
                  <p class="text" style="font-size: 12pt;font-weight: bold;">
                    {{award.title}}
                  </p>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                  <button class="text" mat-button (click)="openDialog(award.id)">รายละเอียด</button>
                  <a *ngIf="award.link != null && award.link != ''" class="linknew" href="{{award.link}}"
                    target="_blank"><b class="text linknew" mat-button>ตัวอย่างผลงาน&nbsp;<mat-icon>open_in_new
                      </mat-icon></b></a>
                </mat-card-actions>
              </mat-card>
            </div>

            <!-- See more -->
            <div *ngIf="!seemore" fxFlex="24%" fxFlex.md="48%" fxFlex.xs="98%" class="contentCenter"
              style="margin-right: 10px !important;" [ngStyle.xs]="{'margin-right': '0px'}">
              <button class="backdrop floatCenter text mat-elevation-z7" mat-raised-button
                style="font-size: 20pt;display:flex;align-items: center;" (click)="seemore = true; loadData()">
                ดูเพิ่มเติม&nbsp;<mat-icon>open_in_new</mat-icon>
              </button>
            </div>

            <!-- Back -->
            <div *ngIf="seemore" fxFlex="24%" fxFlex.md="48%" fxFlex.xs="98%" class="contentCenter"
            style="margin-right: 10px !important;" [ngStyle.xs]="{'margin-right': '0px'}">
            <button class="backdrop floatCenter text mat-elevation-z7" mat-raised-button
              style="font-size: 20pt;display:flex;align-items: center;" (click)="seemore = false; loadData()">
              <mat-icon style="font-size: 40pt;display: flex;justify-content: center;align-items: center;">arrow_back</mat-icon>
            </button>
          </div>
            <!-- End Awards -->
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
