.titleCenter {
  z-index: 3;
  font-size: 36pt;
  width: 100%;
  margin-top: 40px;
  // margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#canvas {
  z-index: 0;
  animation: pop 7s forwards;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.15);
  }
  52% {
    transform: scale(1);
  }
}

.swipeup {
  width: 125px;
  // margin-top: 20px;
  // position: absolute;
}

.container > div {
  margin-top: 15px;
}

.backdrop {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  // position: absolute;
  z-index: 3;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 5px -2px #00000033,
    0px 7px 10px 1px #00000024, 0px 2px 16px 1px #0000001f;
}

.mat-button-wrapper {
  text-align: center;
}

.intersect-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
