.titleCenter {
  z-index: 3  ;
  font-size: 36pt;
  width: 100%;
  margin-top: 40px;
  // margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#canvas {
  z-index: 0;
  animation: pop 7s forwards;
}

@keyframes pop {
  0% { transform:  scale(0); }
  10% { transform:  scale(0); }
  50% { transform: scale(1.15);}
  52% { transform: scale(1);}
}

.swipeup {
  width: 125px;
  // margin-top: 20px;
  // position: absolute;
}
