<form #f="ngForm" (ngSubmit)="f.form.valid && onSummit()">
  <span class="contentCenter text" style="font-size: 20pt;" mat-dialog-title>
    Sign in | เข้าสู่ระบบ
  </span>
  <mat-dialog-content class="text" style="padding: 10px;">
    <p>
      <mat-form-field appearance="standard" fxFlex="100%">
        <mat-label class="text">ขื่อผู้ใช้</mat-label>
        <input matInput [(ngModel)]="f1.username" name="username" autocomplete="username" required>
        <mat-icon matSuffix>display</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard" fxFlex="100%">
        <mat-label class="text">รหัสผ่าน</mat-label>
        <input #password matInput [(ngModel)]="f1.password" name="password" autocomplete="current-password" type="password" required>
        <button *ngIf="showP" matSuffix mat-icon-button aria-label="Clear" (click)="toP()">
          <mat-icon>visibility</mat-icon>
        </button>
        <button *ngIf="!showP" matSuffix mat-icon-button aria-label="Clear" (click)="toText()">
          <mat-icon>visibility_off</mat-icon>
        </button>
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <a mat-button mat-dialog-close class="text" type="button">ยกเลิก</a>
    <button mat-button cdkFocusInitial class="text" type="submit">เข้าสู่ระบบ</button>
  </mat-dialog-actions>
</form>
